<div class="container">
  <div class="test">
    <div class="row">
      <h1>Administrative and Technical Support Section:</h1>
      <div class="box">
        <div class="blue scale">
          <button type="button" class="btn btn-primary" ng-click="goToAdminSwitch()">CLICK HERE</button>
        </div>
      </div>
    </div>
    <div class="row">
      <h1>Management Section:</h1>
      <div class="box">
        <div class="blue scale">
          <button type="button" class="btn btn-primary" ng-click="goToAdminSwitch()">CLICK HERE</button>
        </div>
      </div>
    </div>
    <div class="row">
      <h1>Employees Section:</h1>
      <div class="box">
        <div class="blue scale">
          <button type="button" class="btn btn-primary" ng-click="goToEmployeeSwitch()">CLICK HERE</button>
        </div>
      </div>
    </div>
    <div class="row">
      <h1>Reports Section:</h1>
      <div class="box">
        <div class="blue scale">
          <button type="button" class="btn btn-primary" ng-click="goToReports()">CLICK HERE</button>
        </div>
      </div>
    </div>
  </div>
</div>