<div class="container">
  <center>
    <h1>Security Prompt</h1>
  </center>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatibus ad assumenda minus ipsam velit itaque, dolore,
    cumque architecto harum, alias distinctio non. Accusantium necessitatibus dolores qui quo nam quia.</p>
  <p>Tempora, reiciendis incidunt? Ipsam, quis. Ex laborum explicabo laboriosam quis enim accusantium, dignissimos, natus ad
    tempora id velit placeat mollitia quae optio quaerat ab culpa ea consectetur a porro minus?</p>
  <p>Non soluta necessitatibus minima libero doloremque consequuntur illo sit blanditiis delectus veniam. Hic, nisi ab tenetur,
    necessitatibus magni ex maiores quaerat, numquam dolore laudantium soluta. Iusto quidem magni labore nesciunt.</p>
  <p>Expedita facere voluptate nam. Blanditiis culpa provident officiis sint. Quaerat mollitia numquam fuga temporibus dolorum
    dolorem maxime repellendus iusto qui eveniet, eligendi, laboriosam dolores nesciunt cumque. Eius facilis enim ut!</p>
  <center>
    <h2>Do You Accept the Security Policy?</h2>
    <button ng-click="yesSecurity()">YES</button>
    <a href="https://redwoodcodeacademy.com/" target="_blank">
      <button>NO</button>
  </center>
</div>